<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.RoomsMapper">

    <resultMap id="BaseResultMap" type="com.demo.pojo.Rooms">
            <id property="id" column="id" />
            <result property="roomNumber" column="room_number" />
            <result property="roomType" column="room_type" />
            <result property="bedCount" column="bed_count" />
            <result property="status" column="status" />
            <result property="description" column="description" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,room_number,room_type,bed_count,status,description,create_time,update_time
    </sql>
</mapper>
